.header-blog {
    p {
        max-width: 460px;
    }
}

.about-body {
    padding: 120px 88px;

    .title-t {
        h3 {
            font-weight: bold;
        }
    }

    &>* {
        margin-top: 60px;
        margin-bottom: 60px;
        max-width: 100%;
  
        &:first-child {
          margin-top: 0;
        }
  
  
        &.services {
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

    .about-info {
        h4 {
            max-width: 980px;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5;
        }
    }
    
    .services {
        position: relative;

        .title-t {
            margin-bottom: 10px;
        }

        .services-item {
            position: relative;
            margin-top: 40px;

            .subtitle {
                margin-bottom: 25px;
                letter-spacing: 1.5px;
                font-size: 22px;
                font-weight: 600;

                i {
                    color: $theme-color;
                    vertical-align: middle;
                    font-size: 25px;
                    display: block;
                    margin-bottom: 25px;
                }
            }
        }
    }

    .clients-list {

        .title-t {
            margin-bottom: 10px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            position: relative;

            li {
                margin-top: 40px;
                flex: 1;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 25%;
                text-align: center;
                padding: 0 20px 0 0;

                a {
                    border: 1px solid #33333370;
                    height: 100%;
                    width: 100%;
                    padding: 30px;

                    img {
                        object-fit: cover;
                        transition: all .1s ease .1s;
                        width: 100%;
                        height: 100%;
                        filter: grayscale(100%);
                        transition: .5s;
                    }
                }
            }
        }

        @media (max-width: 992px) {
            li {
                flex-basis: 33.333% !important;
            }
        }

        @media (max-width: 767px) {
            li {
                flex-basis: 50% !important;
            }
        }
    }

    @media (max-width: 992px) {
        padding: 120px 60px !important;
    }
}