/* -------------------------------------------------------
                   Blog
-------------------------------------------------------- */
.page-blog-p {
  .header-blog {
    padding-top: 120px;
    padding-left: 88px;


    h3 {
      transform: scale3d(1, 1.1, 1.1);
      transform-style: preserve-3d;
      font-size: 68px;
      font-weight: bold;
      letter-spacing: 1.5px;
    }
  }
}


.post-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-top: 120px;

  &:last-child {
    padding-bottom: 120px;
  }

  .post-image {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    position: relative;
    transition: opacity .6s cubic-bezier(.2, .2, 0, 1);
    display: block;

    .crop-left {
      position: absolute;
      background: $bg-light;
      backface-visibility: hidden;
      height: 100%;
      top: 0;
      width: 22px;
      transform: scaleX(0);
      left: -2px;
      transform-origin: left;
      transition: transform .6s cubic-bezier(.2, .2, 0, 1), -webkit-transform .6s cubic-bezier(.2, .2, 0, 1);
      width: 30px;
      z-index: 2;
    }

    .crop-right {
      position: absolute;
      background: $bg-light;
      backface-visibility: hidden;
      height: 100%;
      top: 0;
      width: 22px;
      transform: scaleX(0);
      right: -2px;
      transform-origin: right;
      transition: transform .6s cubic-bezier(.2, .2, 0, 1), -webkit-transform .6s cubic-bezier(.2, .2, 0, 1);
      width: 30px;
      z-index: 2;
    }

    &:hover {

      .crop-left,
      .crop-right {
        transform: scaleX(1);
      }
    }

  }

  .post-content {
    width: 40%;
    min-width: 396px;
    padding: 88px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;

    .post-meta {
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 2px;
      list-style: none;
      margin: 0;
      text-transform: uppercase;

      li {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    h4 {
      font-size: 24px;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .read-more {
      img {
        padding-top: 30px;
        transition: $all;
        width: 50px;

        &:hover {
          transform: translate(10px);
        }
      }
    }
  }

}

/* -------------------------------------------------------
                   Single Post
-------------------------------------------------------- */
.page-post {
  padding-left: 10%;
  padding-right: 10%;

  .post-header {
    position: relative;
    padding-top: 120px;

    .cat {
      display: inline-block;
      background-color: #000;
      padding: 5px 15px;
      margin-bottom: 20px;

      span {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;
      }
    }

    h3 {
      font-size: 52px;
      font-weight: bold;
      letter-spacing: 1.5px;
      max-width: 740px;
      margin: auto;
    }

    .meta-date {
      position: relative;
      margin-top: 20px;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  .post-content {
    max-width: 740px;
    margin: auto;

    h5 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 20px !important;
    }

    blockquote {
      text-align: center;
      padding: 15px 50px;

      p {
        position: relative;
        font-size: 22px;
        font-weight: 500;
        color: #000;

        &:before {
          color: #ddd;
          content: '\f10e';
          font-family: 'FontAwesome';
          font-size: 24px;
          font-style: normal;
          display: block;
        }
      }
    }
  }

  .post-content {

    &>* {
      margin-top: 30px;
      margin-bottom: 30px;
      max-width: 100%;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  

}

.post-content-bottom {
  max-width: 740px;
  margin: auto;

  .post-tags {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    a {
      opacity: .7;
      font-weight: 500;
      font-size: 14px;
      margin: 0 8px 8px 0;
      display: inline-block;
      line-height: 1;

      &:after {
        content: '#';
        float: left;
        margin-right: 3px;
      }
    }
  }

  .share-links {
    position: relative;
    margin-bottom: 40px;

    h5 {
      font-size: 16px;
      margin-bottom: 20px !important;
    }

    a {
      width: 60px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #fff;
      color: #000;
      margin-right: 3px;
    }
  }

  .nav-single {
    position: relative;
    overflow: hidden;

    .nav-next {
      text-align: center;
      overflow: hidden;
      border-top: 1px solid rgba(163, 163, 163, 0.2);
      padding-top: 80px;
      padding-bottom: 80px;


      .nav-desc {
        display: inline-block;
        margin-top: 10px;
        margin-right: 20px;
        max-width: 300px;

        h4 {
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          opacity: .7;
          margin-bottom: 10px;
        }

        a {
          font-size: 18px;
          color: #000;

          .meta-nav {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
//-------------------- Comment Btn--------------------//
.comment-btn {
  position: fixed;
  right: 112px;
  bottom: 43px;
  height: 12px;
  z-index: 8;

  &:before {
    content: '\f086';
    color: #000;
    font-family: 'FontAwesome';
    font-size: 14px;
    font-style: normal;
    display: block;
    position: fixed;
    right: 90px;
    bottom: 38px;
    @include transition(opacity 1s cubic-bezier(0.77, 0, 0.175, 1) .3s);
    transition-delay: .3s;
  }

  .contact-btn-txt {
    position: relative;
    font-size: 12px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    opacity: 0.7;
    cursor: pointer;
    -webkit-transform-origin: calc(100% - 6px) 50%;
    transform-origin: calc(100% - 6px) 50%;
    @include transition(transform 1s cubic-bezier(0.77, 0, 0.175, 1) .3s,
      -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1) .3s,
      opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955));

    &:before {
      content: attr(data-hover);
      position: absolute;
      width: 0;
      left: 0;
      -webkit-transition: width 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: width 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
      overflow: hidden;
      height: 24px;
    }

    &:hover {
      opacity: 1;

      &:before {
        width: 100%;
        opacity: 1;
        z-index: 11;
      }
    }
  }
}

//-------------------- Comment Modal --------------------//
.comment-modal {
  position: fixed;
  width: 74%;
  left: 50%;
  bottom: 0;
  height: 100%;
  z-index: 8;
  background-color: #fff;
  @include transform(translate3d(-50%, 100%, 0));
  @include transition(transform 1s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1));

  .comment-modal-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
    overflow: auto;

    .header-box {
      position: relative;
      border-bottom: 1px solid rgba(163, 163, 163, 0.2);
      text-align: center;

      .name-title {
        position: relative;
        display: table;

        h3 {
          font-size: 32px;
          font-weight: bold;
          letter-spacing: 1.5px;
        }

        span {
          position: absolute;
          top: 0;
          left: 102%;
          -webkit-text-stroke: 1px #171717;
          font-weight: bold;
        }

        .project-type {
          position: relative;
          margin-top: 15px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
          padding-left: 25px;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -1px;
            width: 15px;
            height: 2px;
            background-color: rgba(163, 163, 163, 0.2);
          }
        }
      }
    }

    .comments-area {
      position: relative;
      padding-top: 80px;

      .comment-list {
        > li.comment:first-child {
          margin-top: 0;

          > .comment-body {
            padding-top: 0;
          }
        }
      }

      .comment {
        list-style: none;
        margin-top: 20px;

        .comment-body {
          position: relative;
          padding-left: 90px;
          padding-top: 30px;

          .comment-author {
            position: absolute;
            top: 30px;
            left: 0;

            img {
              border-radius: 100%;
              width: 70px;
              height: 70px;
            }
          }

          .author-name {
            position: relative;
            font-size: 16px;
            font-weight: 500;
            color: #000;
            margin-bottom: 2px;
          }

          .comment-meta {
            font-size: 12px;
            font-weight: 400;
          }

          .reply {
            a {
              position: absolute;
              top: 65px;
              right: 30px;
              margin-top: -33px;
              font-size: 12px;
              font-weight: 400;
            }

            i {
              font-size: 10px;
              margin-right: 5px;
            }
          }

          p {
            font-size: 14px;
          }
        }

        .children {
          margin-left: 90px;
        }
      }
    }

    form {
      position: relative;
      padding-top: 40px;
      padding-bottom: 80px;

      .input-row {

        input,
        textarea {
          width: 100%;
          border: none;
          box-shadow: none;
          padding: 10px 0;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(163, 163, 163, 0.2);
          color: #000 !important;
          font-family: inherit;
          font-size: 14px;
          font-weight: 400;
          opacity: 1;

          &::placeholder {
            color: #000;
            font-size: 14px;
          }
        }

        textarea {
          height: auto;
        }
      }

      .custom-btn {
        background: #171718;
        color: #fff;
        border: none;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 3px;
        line-height: 14px;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 0;
        width: unset;
        padding: 17px 41px;
        -webkit-transition: background .3s, color .3s;
        -o-transition: background .3s, color .3s;
        transition: background .3s, color .3s;
      }
    }
  }

  .comments-form {
    .header-box {
      padding-bottom: 40px !important;
    }
  }
}

.comment-modal-dark {
  position: fixed;
  width: 74%;
  left: 50%;
  bottom: 0;
  height: 100%;
  transform: translateX(-50%);
  z-index: 8;
  background-color: $dark-color;

  .header-box {
    position: relative;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(163, 163, 163, 0.2);

    .name-title {
      position: relative;
      display: table;

      h3 {
        color: #fff;
        font-size: 46px;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-transform: capitalize;
      }

      span {
        position: absolute;
        top: 8px;
        left: 102%;
        -webkit-text-stroke: 1px #e1e1e1;
        font-weight: bold;
      }

    }
  }

  .comment-modal-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
    overflow: auto;


    .comments-area {
      position: relative;

      .comment {
        list-style: none;
        margin-top: 20px;

        .comment-body {
          position: relative;
          padding-left: 90px;
          padding-top: 30px;

          .comment-author {
            position: absolute;
            top: 30px;
            left: 0;

            img {
              border-radius: 100%;
              width: 70px;
              height: 70px;
            }
          }

          .author-name {
            position: relative;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 2px;
          }

          .comment-meta {
            font-size: 12px;
            font-weight: 400;
          }

          .reply {
            a {
              position: absolute;
              top: 65px;
              right: 30px;
              margin-top: -5px;
              font-size: 12px;
              font-weight: 400;
            }

            i {
              font-size: 10px;
              margin-right: 5px;
            }
          }

          p {
            font-size: 14px;
          }
        }

        .children {
          margin-left: 90px;
        }
      }
    }

    form {
      position: relative;

      .input-row {

        input,
        textarea {
          width: 100%;
          border: none;
          box-shadow: none;
          padding: 10px 0;
          margin-bottom: 20px;
          background-color: transparent;
          border-bottom: 1px solid rgba(163, 163, 163, 0.2);
          color: #fff !important;
          font-family: inherit;
          font-size: 14px;
          font-weight: 400;
          opacity: 1;

          &::placeholder {
            color: #fff;
            font-size: 14px;
          }
        }

        textarea {
          height: auto;
        }
      }

      .custom-btn {
        background: #171718;
        border: 2px solid #fff;
        color: #fff;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 3px;
        line-height: 14px;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 0;
        width: unset;
        padding: 17px 41px;
        -webkit-transition: background .3s, color .3s;
        -o-transition: background .3s, color .3s;
        transition: background .3s, color .3s;
      }
    }
  }
}


body.dsn-show-comment {

  .comment-modal {
    @include transform(translate3d(-50%, 0, 0));
    transition-delay: .3s;
  }

  .comment-btn {
    &:before {
      opacity: 0;
      visibility: hidden;
      transition-delay: 0s;
    }

    .contact-btn-txt {
      @include transform(rotate(90deg));
      transition-delay: 0s;

    }
  }

}